input{
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    margin-top: 64px ;
    margin-bottom: 54px;
    color: var(--Black, #232536);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.my-posts {
  &__title {
    font-family: "Sen";
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
.post-card{
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  img{
    width: 400px;
    height: 400px;
  }
  .post-subtitle{
    color:#592EA9;
    font-size: 28px;
  }
  .post-title{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
  }
  .post-desc{
    color: var(--Medium-grey, #6D6E76);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    max-width: 600px;
  }
}

.add-post-btn {
  padding: 14px 44px;
  border-radius: 2px;
  border: none;
  font-family: "Sen";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background: #FFD050;

  &:hover {
    opacity: 0.8;
  }
}

.nav__menu {
  margin-bottom: 0px !important;
}

.line {
  height: 1px;
  width: 100%;
  opacity: 0.32;
  background: #6d6e76;
}

.card__title {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    width: 100%;
  }

  label {
    font-family: "Sen" !important;
    width: 100%;
    color: #232536;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}

.ant-modal-title {
  text-align: center;
}
.delete-btn, .edit-btn {
  margin-left: 25px;
  color: #232536;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  box-shadow: 0 0 5px #ffd050;
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.logout-label, .logout-btn, .password-btn {
  margin-bottom: 0;
  font-size: 20px !important;
}

.ant-upload-list-item-name {
  color: blue !important;
}

.form-uploader .ant-upload-list-item-container {
  margin-bottom: 20px !important;
  margin-top: 0;
}

.ant-upload-icon svg {
  fill: blue !important;
}

.ant-upload-select {
  margin-bottom: 30px;
}



.breadcrumb {
  p {
    margin-bottom: 0;
  }
}





