header{
    font-family: 'Inter', sans-serif;
    padding: 13px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 25;
    background: var(--Black, #232536);
    .header-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-logo{
            .menu-bar{
                display: none;
            }
        }
        .header-section{
            display: flex;
            align-items: center;
            gap: 83px;
            .sections{
               a{
                margin-left: 24px;
                color: var(--Light, #FFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
            }
            .active{
               color: bisque;
            }
            }
            .login{
                padding: 16px 48px;
               background-color: #FFF;
               color: var(--Black, #232536);
               font-family: 'Martian Mono', monospace; 
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; 
            }
        }
    }
}
@media (max-width: 820px){
    .sections{
        display: none;
    }
    .menu-bar{
   display: block;
    }
}
@media (max-width: 450px){
    .header-logo{
        display: none;
    }
}