@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;


}
*, *::before, *::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}